{% extends 'layout/index.html.twig' %}

{% block title %}Hello HotelController!{% endblock %}

{% block content %}
<div>
    <h1>Welcome!</h1>
    <a href="/institutions">See institutions</a>
    <a href="/suites">See suites</a>
</div>
{% endblock %}
