{% extends 'layout/index.html.twig' %}

{% block title %}
  Suites
{% endblock %}

{% block content %}
  <h1>Suites</h1>
  <ul>
    {% for suite in suites %}
      <li>
        {{ suite.name }}
        <a href="/suites/{{ suite.id }}">See suite</a>
        <a href="/institutions/{{ suite.institution.id }}">See institution</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
