{% extends 'layout/index.html.twig' %}

{% block title %}
  Institutions
{% endblock %}

{% block content %}
  <section>
    <h1>Institutions</h1>
    <ul>
      {% for institution in institutions %}
        <li>
          {{ institution.name }}
          <a href="/institutions/{{ institution.id }}">See institution</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
